sudo: false

language: node_js

node_js:
  - 8

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - ls -l
  - alias hex="node ./bin/hex.js"
  - yarn && yarn build
  - yarn link
  - export PATH=$PATH:"./bin"

after_success:
  - yarn send-coverage

os:
  - osx